@import "~foundation-sites/scss/util/util";
.risk-container {
  font-size: 11px;
  text-transform: lowercase;
  padding-top: 10px;
  .shrink {
    padding-top: 16px;
  }
}
.slider-risk {
  height: 1px;
  margin: 60px 10px 10px;
  .slider-handle {
    background-color: transparent;
    outline: none;
    margin-top: 1px;
    &:before {
      @include css-triangle(10px, #000, "up");
      left: 50%;
      margin: 0 auto;
      position: absolute;
      top: 0;
      transform: translate(-50%, 0%);
    }
  }
  .slider-fill {
    background-color: #000;
    height: 1px;
    margin-top: 0;
  }

  .risk-score {
    align-items: flex-end;
    bottom: 13px;
    display: flex;
    height: 30px;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    span {
      box-sizing: initial;
      display: inline-block;
      margin: 0 1.5%;
      padding-bottom: 10px;
      width: 100%;
      &.score {
        &_1 {
          background-color: #a6ecfc;
        }
        &_2 {
          background-color: #68f1dd;
        }
        &_3 {
          background-color: #91ed6e;
        }
        &_4 {
          background-color: #b0f42a;
        }
        &_5 {
          background-color: #ddf40c;
        }
        &_6 {
          background-color: #faf00e;
        }
        &_7 {
          background-color: #ffdc00;
        }
        &_8 {
          background-color: #fb0;
        }
        &_9 {
          background-color: #f80;
        }
        &_10 {
          background-color: #ff5e00;
        }
        &_11 {
          background-color: #ff0600;
        }
        &_12 {
          background-color: #b51414;
        }
      }
    }
  }
}
