.skeleton-container {
  position: relative;
  .skeleton {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    &:before {
      background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.6),
        transparent
      );
      content: " ";
      display: block;
      min-height: 1.5em;
      animation: skeletonLoading 1.5s infinite;
      transform: translateX(-100%);
    }
    &.row {
      margin-bottom: 1.5em;
    }
  }
}

@keyframes skeletonLoading {
  100% {
    transform: translateX(100%);
  }
}
