@import "~foundation-sites/scss/util/util";
.top-bar {
  background-color: transparent;
  height: 50px;
  position: relative;
  z-index: 9;
  > * {
    position: relative;
    z-index: 1;
  }
  .top-bar-left,
  .top-bar-right {
    flex: 1 1 auto !important;
  }
  a {
    transition: all 0.2s ease-in-out;
  }
  .brand {
    margin-top: -7px;

    @media print, screen and (max-width: 400px) {
      width: 100px;
    }
  }
  .menu-icon {
    margin-left: -20px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    @include breakpoint(medium down) {
      margin: 0 10px 0 0;
      opacity: 1;
    }
  }
  .menu-container {
    .menu {
      background-color: transparent;
      li {
        a {
          color: var(--white);
          &:hover {
            color: var(--primary);
          }
        }
      }
    }
    @include breakpoint(medium down) {
      background-color: var(--dark-gray);
      height: 100%;
      left: -100%;
      padding: 60px 10px 10px 25px;
      position: fixed;
      top: 0;
      width: 100%;
      transition: all 0.3s ease-in-out;
      z-index: 0;
      .menu {
        background-color: transparent;
        display: block;
        li {
          box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2);
          padding: 5px 0;
        }
      }
      &.show {
        left: 0;
      }
    }
  }
  .account {
    text-align: right;
    @media print, screen and (max-width: 480px) {
      .btn {
        font-size: 10px;
        margin: 0 1px;
        padding: 4px;
      }
    }
  }
}
