.tooltip-anchor {
  display: inline-block;
  margin: 0 0.5em;
}

.tooltip {
  text-align: center;
  &.light {
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0 0 0px 1px var(--medium-gray);
    color: var(--black);
    max-width: 280px;
    padding: 10px;
    text-align: left;
    &:before {
      bottom: initial !important;
      border: none;
      background-color: var(--white);
      height: 12px;
      right: initial !important;
      transform: translate(-50%, -50%) rotate(45deg) !important;
      width: 12px;
    }
    &.top {
      &:before {
        box-shadow: 1px 1px 0px var(--medium-gray);
      }
    }
    &.bottom {
      &:before {
        box-shadow: -1px -1px 0px var(--medium-gray);
        top: 0;
      }
    }
    &.left {
      &:before {
        box-shadow: 1px -1px 0px var(--medium-gray);
        left: 100%;
      }
    }
    &.right {
      &:before {
        box-shadow: -1px 1px 0px var(--medium-gray);
        left: 0;
      }
    }
  }
}
