.fund-row {
  color: var(--dark-gray);
  font-size: 13px;

  .accordion-title {
    border: none;
    color: inherit;
    font-size: inherit;
    outline: none;
    padding: 0;
    transition: background-color 0.2s ease-in-out;
    &:before {
      content: unset;
    }
    &:focus {
      background-color: transparent;
    }
    &:hover {
      background-color: #e6fcfc;
    }
  }

  .fund-name {
    color: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
    .mdi {
      font-size: 1.2em;
    }
  }
  .fund-spec {
    font-size: 12px;
    margin: 0;
  }

  .row-items {
    border-left-width: 7px;
    border-left-style: solid;
    border-color: transparent;
    &.disabled {
      color: var(--medium-gray);
    }
    label {
      font-size: 11px;
      font-weight: 500;
    }
  }

  .col-action {
    text-align: center;
    .mdi {
      font-size: 22px;
    }
  }

  .risk {
    &_1 {
      border-color: #a6ecfc;
    }
    &_2 {
      border-color: #68f1dd;
    }
    &_3 {
      border-color: #91ed6e;
    }
    &_4 {
      border-color: #b0f42a;
    }
    &_5 {
      border-color: #ddf40c;
    }
    &_6 {
      border-color: #faf00e;
    }
    &_7 {
      border-color: #ffdc00;
    }
    &_8 {
      border-color: #fb0;
    }
    &_9 {
      border-color: #f80;
    }
    &_10 {
      border-color: #ff5e00;
    }
    &_11 {
      border-color: #ff0600;
    }
    &_12 {
      border-color: #b51414;
    }
  }
}
