.input-container {
  position: relative;
  width: 100%;
  .icon {
    font-size: 1.5em;
    height: 1em;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0%, -50%);
  }
  .input-search {
    border: 0 !important;
    background-color: var(--white);
    box-shadow: 0px 1px 0px var(--dark-gray);
    &::placeholder {
      color: var(--dark-gray);
      opacity: 1;
    }
    &:focus {
      box-shadow: 0px 2px 0px var(--primary);
      &::placeholder {
        color: var(--medium-gray);
      }
    }
  }
}
