.card-macro {
  &-title {
    background-color: var(--light-gray);
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding: 10px 15px;
    text-transform: uppercase;
    .mdi {
      font-size: 1.2em;
    }
  }
}
