.slider-default {
  background-color: var(--medium-gray);
  border-radius: 3px;
  height: 4px;
  margin: 35px 0 15px;
  .slider-handle {
    background-color: var(--white);
    border: 4px solid var(--dark-gray);
    border-radius: 50%;
    height: 17px;
    outline: none;
    width: 17px;
    &:hover,
    &:focus {
      box-shadow: 0 0 2px 10px transparentize(#7cb5ec, 0.6);
    }
  }
  .slider-fill {
    background-color: var(--primary);
    border-radius: 3px;
    height: 4px;
  }
}
