@import "~foundation-sites/scss/util/util";
.filters {
  .accordion-item {
    position: relative;
    > input[type="checkbox"] {
      position: absolute;
      top: 22px;
      transform: translate(10px, 0);
      z-index: 1;
    }
  }
  .accordion-title {
    background-color: var(--lighter-gray);
    color: var(--dark-gray);
    font-size: 13px;
    font-weight: 600;
    padding-left: 30px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in-out;
    &:before {
      font-size: 18px;
      font-weight: 900;
      line-height: 0.6em;
      margin-top: -0.5em;
    }
    &:hover {
      background-color: var(--light-gray);
    }
  }
  .accordion-content {
    padding: 0;
    @include breakpoint(large) {
      max-height: calc(100vh - 250px);
      overflow: auto;
    }
  }
  .filter-item {
    border-bottom: 1px solid var(--light-gray);
    line-height: 1.2em;
    padding: 10px 0 10px 30px;
    position: relative;
    input[type="checkbox"] {
      left: 10px;
      position: absolute;
      top: 50%;
      transform: translate(0px, -50%);
    }
  }
}

.search {
  label {
    display: block;
    line-height: 1.2em;
  }
  .controls {
    background-color: var(--lighter-gray);
    .controls-feedback {
      font-size: 13px;
      margin: 0;
    }
  }
}
