.App-header {
  background: url("assets/img/hero.jpg") center no-repeat;
  background-size: cover;
}
.subtitles {
  font-size: 13px;
  .title {
    text-transform: uppercase;
  }
  .item {
    .icon {
      font-size: 1.5em;
      margin-right: 0.3em;
    }
  }
}
