$foundation-palette: (
  primary: #119c9f,
  // #1779ba,
  secondary: #767676,
  success: #639d31,
  // #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
);
$dark-gray: #505152;
$light-gray: #eff0f2;
$lighter-gray: #f4f5f7;

$body-background: $light-gray;
$card-border: 0;
$card-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);

$xy-grid: true !global;

$anchor-color: map-get($foundation-palette, "primary");

$global-flexbox: true;

$small-font-size: 80%;

// Tooltip
$has-tip-cursor: default;
$has-tip-border-bottom: none;
$tooltip-font-size: 12px;
$tooltip-padding: 6px 10px 8px;
$tooltip-pip-width: 6px;
$tooltip-max-width: 13rem;
